.wrapperOrderTable {
    width: 100%;
    border-radius: 12px;
    background: #1c192c;
    .tableTitle {
        display: flex;
        align-items: center;
        border-bottom: 0.5px solid #a9a7b4;
        div {
            width: 23%;
            padding: 16px 12px 16px 16px;
            height: 56px;
            display: flex;
            align-items: center;
            h5 {
                font-weight: 400;
                font-size: 15px;
                line-height: 24px;
            }
        }
        .tableTime {
            width: 16%;
        }
        .tableStatus {
            width: 14%;
        }
        .tableComment {
            width: 39%;
        }
        .lastDiv {
            width: 8%;
        }
    }
    .tableBody {
        display: flex;
        align-items: center;
        div {
            width: 23%;
            padding: 29px 16px 29px 16px;
            font-weight: 600;
            height: 80px;
            display: flex;
            font-size: 17px;
            line-height: 22px;
        }
        .firstDiv {
            padding: 10px 0 0 0;
            img {
                width: 56px;
                height: 56px;
            }
            h4 {
                margin-left: 16px;
            }
        }
        .tableTime {
            width: 16%;
            font-weight: 400;
            align-items: center;
        }
        .tableStatus {
            width: 14%;
            font-weight: 400;
            align-items: center;
        }
        .tableComment {
            width: 39%;
            font-weight: 400;
            align-items: center;
            height: auto;
            h6 {
                word-break: break-word;
            }
        }
        .lastDiv {
            width: 8%;
            font-weight: 400;
            cursor: pointer;
            align-items: center;
            justify-content: center;
        }
    }
}

.tableButton {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    position: absolute;
    transform: translateY(-100%);
    padding-bottom: 96px;
    button {
        background: #1c192c;
        border-radius: 12px;
        padding: 16px;
        width: 168px;
        height: 54px;
        text-transform: capitalize;
        &:hover {
            background: #302b48;
        }
    }
}
.tableModal {
    width: 100%;
    height: 100%;
}
.formLabel {
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 4px;
    color: #a9a7b4;
}
.tableInput {
    padding: 13px 12px;
    background: rgba(255, 255, 255, 0.07);
    border-radius: 8px;
    margin-bottom: 16px;
    outline: none;
    border: none;
    color: white;
    &::placeholder {
        color: white !important;
        opacity: 0.5;
    }
    &:focus {
        outline: none;
        border: 1px solid #5086ec !important;
    }
}
.tableSubmitButton button {
    margin-top: 28px !important;
    padding: 18px !important;
    background: #5086ec !important;
    border-radius: 12px !important;
    width: 100% !important;
    height: 56px !important;
    font-size: 17px;
    text-transform: capitalize;
}

@media (max-width: 1150px) {
    .tableSubmitButton button {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 18px;
        background: #5086ec;
        border-radius: 12px;
        width: 90%;
    }
}

// mobile
.mobileWrapperTable {
    box-shadow: inset 0px -1px 0px rgba(229, 233, 235, 0.12);
    display: flex;
    justify-content: space-between;
    align-items: center;
    .mobileTableAll {
        border-radius: 12px;
        background: #1c192c;
        width: 100%;
        .mobileTable {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 14px;
            margin-bottom: 12px;
        }
    }
}

@media (max-width: 1150px) {
    .mobileWrapperTable {
        margin-bottom: 12px;
    }
}

.tableMobileButton {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    button {
        background: #5086ec;
        border-radius: 12px;
        width: 90%;
        height: 100%;
        padding: 16px auto;
    }
}

.tableMobileDeleteButton {
    position: fixed;
    bottom: 60px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    button {
        background: #1c192c;
        border-radius: 8px;
        width: 90%;
        height: 100%;
        padding: 16px auto;

        &:hover {
            background: #312d4a;
        }
    }
}

.tableDeleteButton {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    position: absolute;
    transform: translateY(-100%);
    padding-bottom: 10px;
    margin-left: 15px;
    button {
        padding: 20px !important;
    }
}
