.search {
  height: 100vh;
  width: 100%;
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  transition: 0.3s ease-in;
  overflow-y: scroll;
  margin-top: -80px;
  padding-top: 100px;
  padding-bottom: 70px;
}
.search .search_content .search_center {
  position: relative;
}
.search .search_content .search_center .search_icon {
  position: absolute;
  width: 22px;
  height: 22px;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
}
.search .search_content .search_center .search_input {
  background: #ffffff;
  width: 60vw;
  border: 1.5px solid #ffffff;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 8px 44px;
  outline: none;
  color: #000;
}
@media screen and (max-width: 1024px) {
  .search .search_content .search_center .search_input {
    width: 80vw;
  }
}
@media screen and (max-width: 576px) {
  .search .search_content .search_center .search_input {
    width: 90vw;
  }
}
.search .search_content .search_center .clear_btn {
  position: absolute;
  top: 13px;
  right: 16px;
  padding: 2px;
}

.filter {
  position: relative;
  width: 100%;
  padding: 0px 56px 0;
  margin-top: 16px;
}
@media screen and (max-width: 1024px) {
  .filter {
    padding: 0px 25px;
  }
}
.filter .filter_title {
  font-size: 28px;
  line-height: 35px;
  font-weight: 600;
  letter-spacing: 0.25px;
  color: #fff;
  font-family: "SF-Pro-Display-regular", "Roboto", sans-serif;
}
@media screen and (max-width: 576px) {
  .filter .filter_title {
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.38px;
  }
}
.filter .filter_result {
  display: grid;
  justify-items: start;
  -moz-column-gap: 32px;
       column-gap: 32px;
}
@media screen and (min-width: 1520px) {
  .filter .filter_result {
    grid-template-columns: repeat(8, minmax(0, 1fr));
  }
}
@media screen and (min-width: 1740px) {
  .filter .filter_result {
    grid-template-columns: repeat(10, minmax(0, 1fr));
  }
}
@media screen and (min-width: 2000px) {
  .filter .filter_result {
    grid-template-columns: repeat(10, minmax(0, 1fr));
  }
}
@media screen and (max-width: 1520px) {
  .filter .filter_result {
    grid-template-columns: repeat(8, minmax(0, 1fr));
    justify-items: start;
  }
}
@media screen and (max-width: 1320px) {
  .filter .filter_result {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
}
@media screen and (max-width: 1170px) {
  .filter .filter_result {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
}
@media screen and (max-width: 910px) {
  .filter .filter_result {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
@media (max-width: 768px) {
  .filter .filter_result {
    display: flex;
    flex-direction: column;
  }
}
.filter .filter_result .filter_item {
  position: relative;
  padding-bottom: 22px;
  margin-bottom: 32px;
}
@media (max-width: 768px) {
  .filter .filter_result .filter_item {
    width: 100% !important;
    margin-bottom: 0;
    padding-bottom: 12px;
  }
  .filter .filter_result .filter_item a {
    display: flex;
    align-items: center;
    gap: 20px;
  }
}
@media screen and (max-width: 520px) {
  .filter .filter_result .filter_item {
    margin-right: 0 !important;
  }
}
.filter .filter_result .filter_item .filter_subtitle {
  width: 149px;
  overflow: hidden;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-top: 8px;
  color: #ffffff;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@media screen and (max-width: 768px) {
  .filter .filter_result .filter_item .filter_subtitle {
    width: 100%;
    font-size: 14px;
    margin-top: 0;
    white-space: unset;
  }
}
.filter .filter_result .filter_item .follow_btn {
  position: absolute;
  bottom: 5px;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #f2271c;
}
@media screen and (max-width: 520px) {
  .filter .filter_result .filter_item .follow_btn {
    left: 50%;
    transform: translateX(-50%);
  }
}

.filter_write {
  position: relative;
  margin-bottom: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.filter_write button svg {
  pointer-events: none;
}

.error {
  width: 822px;
  position: absolute;
  font-family: "San-Francisco", "Roboto", sans-serif;
  left: 50%;
  transform: translateX(-50%);
  padding: 22px;
  background: #100e19;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  margin-top: 32px;
}
@media screen and (max-width: 1024px) {
  .error {
    width: 700px;
    padding: 50px;
  }
}
@media screen and (max-width: 768px) {
  .error {
    width: 500px;
    padding: 30px;
    overflow: hidden;
  }
}
@media screen and (max-width: 520px) {
  .error {
    width: 320px;
    padding: 20px;
  }
}
.error ul {
  list-style-type: disc;
  padding-left: 24px;
}
.error ul li {
  font-size: 17px;
  line-height: 24px;
  color: #c6c6c6;
}
@media screen and (max-width: 576px) {
  .error ul li {
    font-size: 15px;
  }
}
@media screen and (max-width: 768px) {
  .error .nullDataText {
    max-width: 280px !important;
    padding: 0 5px;
    text-align: center;
  }
}
.error .error_title {
  max-width: 561px;
  font-weight: 600;
  font-size: 28px;
  line-height: 25px;
  letter-spacing: 0.38px;
  color: #ffffff;
  margin-bottom: 16px;
}
@media screen and (max-width: 576px) {
  .error .error_title {
    font-size: 20px;
  }
}
.error .error_text {
  max-width: 562px;
  font-size: 17px;
  line-height: 24px;
  color: #c6c6c6;
}
@media screen and (max-width: 520px) {
  .error .error_text {
    font-size: 16px;
  }
}

.hide_headerSearch {
  display: none;
}

.filter_img {
  width: 149px;
  height: 204px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 6px;
  margin-right: 0 !important;
}
@media screen and (max-width: 768px) {
  .filter_img {
    width: 56px;
    height: 72px;
  }
}

.loading {
  width: 80px !important;
  height: 80px !important;
  position: absolute !important;
  overflow: hidden !important;
  top: 100px;
  transform: translate(-50%, -50%);
  left: 50%;
  padding: 2px;
}

.loading1 {
  width: 80px !important;
  height: 80px !important;
  position: absolute !important;
  overflow: hidden !important;
  top: 100px;
  transform: translate(-50%, -50%);
  left: 50%;
  padding: 2px;
}

.hideSearchBar {
  opacity: 0;
  transition: 0.5s ease-out;
}

.showSearchBar {
  opacity: 1;
  transition: 0.5s ease-out;
}

.fade_in_top {
  -webkit-animation: fade_in_top 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade_in_top 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes fade_in_top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade_in_top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.megago_tag {
  position: absolute;
  top: 8px;
  right: 40px;
}
@media screen and (max-width: 576px) {
  .megago_tag {
    right: 0px;
  }
}

.tag_movie {
  display: inline-block;
  padding: 4px;
  border-radius: 6px;
  letter-spacing: 0.5px;
  color: #ffffff;
  font-size: 13px;
  line-height: 20px;
  top: 8px;
  left: 8px;
}
@media screen and (max-width: 768) {
  .tag_movie {
    padding: 4px 8px;
    font-size: 11px;
  }
}

.second_tag {
  top: 44px;
}/*# sourceMappingURL=SearchStyle.module.css.map */