.wrapper{
    display: grid;
    justify-items: center;
    .icon{
margin-bottom: 28px;
    }
    .title{
        font-weight: 700;
font-size: 32px;
line-height: 40px;
text-align: center;
letter-spacing: -0.41px;
color: #FFFFFF;
margin-bottom: 8px;

    }
    .subTitle{
        font-size: 20px;
line-height: 28px;
text-align: center;
color: #A9A7B4;
margin-bottom: 32px;
        .balance{

        }
        .addCard{

        }
    }
    .submitButton {
      background: #5086EC;
      border-radius: 12px !important;
      min-height: 52px !important;
      font-size: 17px;
      text-transform: capitalize;
  }
    }