.video_player {
    overflow: hidden;
    .video-react-replay-control{
        margin: 10px !important;
    }
    &.mobile_player {
        position: absolute;
        top: 0;
        z-index: -1;
        visibility: hidden;
        width: 0 !important;
        overflow: hidden;

        .video-react-video {
            position: static;
        }
    }
    .video-react-loading-spinner {
        border-color: transparent !important;
        border-width: 4px !important;
    }

    .video-react-play-control {
        position: relative;
        z-index: 9999999999999999 !important;
    }
    .video-react-volume-menu-button {
        position: relative;
        z-index: 9999999999999999 !important;
    }
    .video-react-replay-control {
        margin-left: 24px;
        margin-right: 10px !important;
        position: relative;
        z-index: 9999999999999999 !important;
        @media (max-width: 768px) {
            margin-left: 6px !important;
            margin-right: 3px !important;
        }
    }
    .video-react-forward-control {
        margin-left: 10px;
        margin-right: 24px !important;
        position: relative;
        z-index: 9999999999999999 !important;
        @media (max-width: 768px) {
            margin-left: 3px !important;
            margin-right: 6px !important;
        }
    }

    .back {
        position: absolute;
        top: 40px;
        left: 30px;
        z-index: 9;

        @media screen and (max-width: 576px) {
            top: 28px;
            left: 20px;
        }
    }
    .top_title {
        width: 100vw;
        height: 130px;
        background: linear-gradient(
            180deg,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 0.6) 0.01%,
            rgba(0, 0, 0, 0) 100%
        );
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        color: #fff;
        z-index: 1;
        top: 0;
        font-style: normal;
        font-weight: normal;
        font-size: 32px;
        line-height: 32px;
        .movie_logo_title {
            margin-top: 50px;
            object-fit: cover;
            max-width: 100px;
            height: auto !important;
            position: absolute;
            top: -30px;
            left: 50%;
            transform: translateX(-50%);
            @media screen and (max-width: 576px) {
                max-width: 220px;
            }
        }
    }

    // .video-react .video-react-poster {
    //     height: 80vh !important;

    // }
    // .video-react .video-react-video {
    //     height: 90% !important;
    // }
    .video-react.video-react-fluid,
    .video-react.video-react-16-9,
    .video-react.video-react-4-3 {
        width: 100vw;
        overflow: hidden;
        height: 100vh !important;
        &:focus-visible {
            outline: transparent !important;
        }
    }
    .video-react .video-react {
        height: 90% !important;
    }
    .video-react .video-react-slider:focus {
        box-shadow: none !important;
    }
    .video-react .video-react-video:focus-visible {
        outline: none !important;
    }
    .video-react .video-react-time-control {
        display: none;
    }
    .video-react .video-react-menu-button-inline:before {
        width: 50px;
    }
    .video-react .video-react-control {
        margin-right: 5px;
        height: 40px;
        @media (max-width: 768px) {
            height: 50px;
        }

        &::before {
            height: 100%;
            font-size: 33px;
            display: flex;
            justify-content: center;
            align-items: center;
            @media (max-width: 768px) {
                height: 50px;
                font-size: 30px;
            }
        }
    }

    .video-react-menu {
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
    }
    .video-react-menu-content {
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
    }
    .video-react .video-react-mute-control,
    .video-react .video-react-volume-menu-button {
        margin-left: -2px !important;
    }
    .video-react .video-react-control:focus:before,
    .video-react .video-react-control:hover:before,
    .video-react .video-react-control:focus {
        text-shadow: none !important;
    }

    .CenterFakePlace {
        flex: auto !important;
    }
    .video-react-progress-control {
        flex: none !important;
        position: absolute !important;
        margin-bottom: 90px !important;
        padding-left: 5px !important;
        width: 93vw !important;
        @media (max-width: 1690px) {
            width: 92vw !important;
        }
        @media (max-width: 1530px) {
            width: 91vw !important;
        }
        @media (max-width: 1350px) {
            width: 90vw !important;
        }
        @media (max-width: 1200px) {
            width: 89vw !important;
        }
        @media (max-width: 1200px) {
            width: 88vw !important;
        }
        @media (max-width: 998px) {
            width: 86vw !important;
        }
        @media (max-width: 860px) {
            width: 84vw !important;
        }
        @media (max-width: 768px) {
            width: 81vw !important;
            margin-bottom: 80px !important;
        }
        @media (max-width: 610px) {
            width: 78vw !important;
        }
        @media (max-width: 576px) {
            width: 75vw !important;
        }
        @media (max-width: 470px) {
            width: 70vw !important;
        }
        @media (max-width: 400px) {
            width: 65vw !important;
        }
    }

    .video-react .video-react-play-progress:before {
        color: #5086ec;
        font-size: 25px;
        top: -10px;
    }
    .video-react-play-progress {
        height: 5px !important;
        background: #5086ec !important;
        border-radius: 8px !important;
    }
    .video-react .video-react-load-progress div {
        height: 5px !important;
        background: #fff !important;
        border-radius: 8px !important;
    }
    .video-react .video-react-progress-holder .video-react-load-progress div {
        border-radius: 8px;
        height: 5px;
    }
    .video-react .video-react-slider {
        height: 5px !important;
        background: rgba(255, 255, 255, 0.7) !important;
        border-radius: 8px !important;
    }
    .video-react
        .video-react-progress-control:hover
        .video-react-play-progress:after {
        display: none;
    }
    .currentTime {
        font-size: 15px;
        line-height: 16px;
        top: 10px;
        right: 25px;
        flex: none !important;
        position: absolute !important;
        margin-bottom: 90px !important;
    }
    .video-react .video-react-volume-bar.video-react-slider-horizontal {
        width: 95px;
        border-radius: 16px;
        height: 5px;
    }
    .video-react
        .video-react-volume-bar.video-react-slider-horizontal
        .video-react-volume-level {
        height: 5px;
        border-radius: 16px 0 0 16px;
    }
    .video-react .video-react-volume-level:before {
        font-size: 17px;
    }
    .video-react
        .video-react-volume-menu-button-horizontal:hover
        .video-react-menu-content {
        width: 120px;
    }
    .video-react .video-react-volume-menu-button-horizontal {
        width: 110px;
        @media (max-width: 768px) {
            width: 50px;
        }
    }
    .video-react .video-react-menu-button-inline:hover,
    .video-react .video-react-menu-button-inline:focus,
    .video-react .video-react-menu-button-inline.video-react-slider-active {
        width: 170px;
    }
    .video-react
        .video-react-volume-menu-button.video-react-menu-button-inline
        .video-react-menu-content {
        width: 120px;
    }
    .video-react .video-react-play-progress:after {
        display: none !important;
    }

    .ControlBarVideoPlayer {
        // position: absolute;
        z-index: 9999999999999;
        background: linear-gradient(
            180deg,
            rgba(0, 0, 0, 0) 0%,
            #000000 100%
        ) !important;
        padding: 0 15px;
        padding-top: 40px;
        height: 138px !important;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.button_qualities {
    position: relative;
    z-index: 999999999999;
    cursor: pointer;
    // padding: 20px 11px;
    margin-right: 11px;
    .cont {
        width: 197px;
        position: absolute;
        bottom: 75px;
        right: -45px;
        background: #1C192C;
        border-radius: 16px;
        opacity: 0;
        max-height: 0;
        overflow: hidden;
        z-index: -99999999;
        transition: opacity 0.2s ease-in-out;
        transition-delay: 0.1s;
        @media (max-width: 900px) {
            bottom: 110px;
            width: 197px;
            right: -25px;
        }

        .header {
            font-weight: 500;
            font-size: 20px;
            line-height: 28px;
            background: #1c192c;
            padding: 18px 16px;
            box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.2);
            border-radius: 16px 16px 0px 0px;
        }
        .buttons {
            display: flex;
            justify-content: space-between;
            align-items: center;
            // box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.2);
            padding: 16px 0px;
            margin: 0px 16px;
            font-weight: 400;
            font-size: 15px;
            line-height: 20px;
            cursor: pointer;

            &:last-child {
                box-shadow: none;
            }
        }
    }
    .cont_active {
        z-index: 999999999999;
        opacity: 1;
        max-height: 415px;
        overflow-x: hidden;
        overflow-y: scroll;

        @media screen and (max-width: 900px) {
            max-height: 250px;
        }
    }
}

.containerNextEpisode {
    position: relative;
    z-index: 999999999999;
    margin-right: 5px;
    cursor: pointer;
    padding: 20px 11px;

    .cont {
        z-index: -999999999999;
        width: 525px;
        position: absolute;
        height: 0;
        overflow: hidden;
        bottom: 60px;
        right: -60px;
        background: #1c192c;
        border-radius: 8px;
        transition: opacity 0.2s ease-in-out;
        transition-delay: 0.1s;
        opacity: 0;

        @media screen and (max-width: 576px) {
            width: 350px;
            right: -148px;
        }

        .header {
            font-weight: 500;
            font-size: 20px;
            line-height: 28px;
            background: #1c192c;
            padding: 18px 16px;
            box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.2);
            border-radius: 16px 16px 0px 0px;
        }
        .body {
            padding: 16px;
            display: flex;
            flex-direction: row;
            width: 100%;
            img {
                object-fit: cover;
                min-width: 100%;
                height: 100% !important;
                border-radius: 8px;

                @media (max-width: 900px) {
                    min-width: 150px;
                    height: 100px;
                }
            }
            .textpart {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                margin-left: 20px;
                width: 260px;
                h6 {
                    font-size: 20px;
                    line-height: 28px;
                    font-weight: 500;
                }
                p {
                    font-size: 16px;
                    line-height: 23px;
                    font-weight: 300;
                }
            }
        }
    }

    .cont_active {
        z-index: 999999999999;
        opacity: 1;
        height: 270px;

        @media (max-width: 900px) {
            height: 200px;
        }
    }
}

.containerProgramChannal {
    z-index: 999999999999;
    margin-right: 5px;
    padding: 20px 11px;

    .cont {
        width: 140vw;
        position: absolute;
        height: 100vh !important;
        height: 0;
        overflow: hidden;
        bottom: 0;
        right: 0px;
        transition: opacity 0.2s ease-in-out;
        transition-delay: 0.1s;
        .program {
            width: 350px;
            height: 100vh;
            position: absolute;
            top: 0;
            right: 0;
            z-index: 999;
            background-color: #1c192c;
            .header {
                padding: 24px 20px 10px 20px;
                box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.3);
                border-radius: 12px 12px 0px 0px;
                h2 {
                    font-size: 22px;
                    line-height: 28px;
                    font-weight: 700;
                }
                svg {
                    width: 16px !important;
                    height: 16px !important;
                }
            }
            .body {
                height: 100%;
                overflow-y: scroll;
                width: 100%;
                .program_title {
                    box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.3);
                }
                .program_item {
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    padding: 21px 0;
                    margin: 0 16px;
                    box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.3);
                }
            }
        }
    }

    .fade-in-right {
        -webkit-animation: fade-in-right 0.2s
            cubic-bezier(0.39, 0.575, 0.565, 1) both;
        animation: fade-in-right 0.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    }

    @-webkit-keyframes fade-in-right {
        0% {
            -webkit-transform: translateX(50px);
            transform: translateX(50px);
            opacity: 0;
        }
        100% {
            -webkit-transform: translateX(0);
            transform: translateX(0);
            opacity: 1;
        }
    }
    @keyframes fade-in-right {
        0% {
            -webkit-transform: translateX(50px);
            transform: translateX(50px);
            opacity: 0;
        }
        100% {
            -webkit-transform: translateX(0);
            transform: translateX(0);
            opacity: 1;
        }
    }

    .fade-out-right {
        -webkit-animation: fade-out-right 0.7s
            cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
        animation: fade-out-right 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    }

    @-webkit-keyframes fade-out-right {
        0% {
            -webkit-transform: translateX(0);
            transform: translateX(0);
            opacity: 1;
        }
        100% {
            -webkit-transform: translateX(50px);
            transform: translateX(50px);
            opacity: 0;
        }
    }
    @keyframes fade-out-right {
        0% {
            -webkit-transform: translateX(0);
            transform: translateX(0);
            opacity: 1;
        }
        100% {
            -webkit-transform: translateX(50px);
            transform: translateX(50px);
            opacity: 0;
        }
    }
}

.containerAllEpisodesAndSeasons {
    position: relative;
    z-index: 999999999999;
    margin-right: 5px;
    // cursor: pointer;
    padding: 20px 11px;

    .cont {
        z-index: -999999999999;
        overflow: hidden;
        width: 400px;
        position: absolute;
        bottom: 90px;
        right: -60px;
        background: #1c192c !important;
        border-radius: 16px;
        transition: opacity 0.1s ease-in;
        transition-delay: 0.1s;
        opacity: 0;
        height: 0px;
        @media screen and (max-width: 900px) {
            width: 400px;
        }
        @media screen and (max-width: 576px) {
            width: 350px;
            right: -55px;
        }
        .header {
            display: flex;
            align-items: center;
            background: #1c192c !important;
            padding: 18px 16px;
            border-radius: 16px 16px 0px 0px;
            justify-content: space-between;
            // cursor: pointer;
            &:hover {
                background: rgba(255, 255, 255, 0.04);
            }
            h2 {
                font-weight: 500;
                font-size: 20px;
                line-height: 28px;
                margin-left: 10px;
                span {
                    margin-left: 8px;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 19px;
                    letter-spacing: -0.5px;
                    color: #84919a;
                }
            }
            .season_btn {
                padding: 8px 12px;
                background: #100e19;
                border-radius: 8px;
                // width: 90px;
                // height: 28px;
                font-weight: 400;
                font-size: 14px;
                line-height: 16px;
                letter-spacing: -0.5px;
            }
            svg {
                width: 32px;
                height: 32px;
            }
        }
        .episodes {
            background-color: #1c192c !important;
        }
        .body {
            display: flex;
            width: 100%;
            img {
                object-fit: cover;
                min-width: 149px;
                height: 84px;
                border-radius: 8px;

                @media screen and (max-width: 900px) {
                    min-width: 150px;
                    height: 100px;
                }
            }
            .textpart {
                margin-left: 20px;
                width: 100%;
                h2 {
                    font-weight: 500;
                    font-size: 15px;
                    line-height: 22px;

                    @media screen and (max-width: 900px) {
                        font-size: 17px;
                        line-height: 22px;
                    }
                }
                p {
                    font-size: 18px;
                    line-height: 26px;
                    letter-spacing: 0.326451px;
                    color: #e9e9e9;

                    @media screen and (max-width: 900px) {
                        font-size: 15px;
                        line-height: 20px;
                    }
                }
            }
            &:hover{
                background: rgba(255, 255, 255, 0.04);
            }
        }

        .fade-out-right {
            -webkit-animation: fade-out-right 0.4s
                cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
            animation: fade-out-right 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94)
                both;
        }

        @-webkit-keyframes fade-out-right {
            0% {
                -webkit-transform: translateX(0);
                transform: translateX(0);
                opacity: 1;
            }
            100% {
                -webkit-transform: translateX(450px);
                transform: translateX(450px);
                opacity: 0;
            }
        }
        @keyframes fade-out-right {
            0% {
                -webkit-transform: translateX(0);
                transform: translateX(0);
                opacity: 1;
            }
            100% {
                -webkit-transform: translateX(450px);
                transform: translateX(450px);
                opacity: 0;
            }
        }

        .fade-in-left {
            -webkit-animation: fade-in-left 0.4s
                cubic-bezier(0.39, 0.575, 0.565, 1) both;
            animation: fade-in-left 0.4s cubic-bezier(0.39, 0.575, 0.565, 1)
                both;
        }
        @-webkit-keyframes fade-in-left {
            0% {
                -webkit-transform: translateX(-50px);
                transform: translateX(-50px);
                opacity: 0;
            }
            100% {
                -webkit-transform: translateX(0);
                transform: translateX(0);
                opacity: 1;
            }
        }
        @keyframes fade-in-left {
            0% {
                -webkit-transform: translateX(-50px);
                transform: translateX(-50px);
                opacity: 0;
            }
            100% {
                -webkit-transform: translateX(0);
                transform: translateX(0);
                opacity: 1;
            }
        }
        .fade-in-right {
            -webkit-animation: fade-in-right 0.4s
                cubic-bezier(0.39, 0.575, 0.565, 1) both;
            animation: fade-in-right 0.4s cubic-bezier(0.39, 0.575, 0.565, 1)
                both;
        }
        @-webkit-keyframes fade-in-right {
            0% {
                -webkit-transform: translateX(50px);
                transform: translateX(50px);
                opacity: 0;
            }
            100% {
                -webkit-transform: translateX(0);
                transform: translateX(0);
                opacity: 1;
            }
        }
        @keyframes fade-in-right {
            0% {
                -webkit-transform: translateX(50px);
                transform: translateX(50px);
                opacity: 0;
            }
            100% {
                -webkit-transform: translateX(0);
                transform: translateX(0);
                opacity: 1;
            }
        }
    }
    .buttonNextEpisode {
        cursor: pointer;
    }

    .cont_active {
        z-index: 999999999999;
        opacity: 1;
        height: 465px;
        overflow-y: scroll;
        overflow-x: hidden;
        @media (max-width: 900px) {
            height: 280px;
        }
    }

    .all_seasons {
        width: 100%;
        .all_seasons_header {
            background: #1C192C;
            padding: 18px 16px;
            border-radius: 16px 16px 0px 0px;
            span {
                color: #fff;
                font-weight: 500;
                font-size: 20px;
                line-height: 28px;
                margin-left: 10px;
            }
        }
        .seasons_list {
            .seasons_item {
                transition: background 0.2s ease-in-out;
                // box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.2);
                &:hover {
                    background: rgba(255, 255, 255, 0.04);
                }
                span {
                    width: 32px;
                    height: 32px;
                    top: 50%;
                    transform: translateY(-50%);
                }
                svg {
                    width: 32px;
                    height: 32px;
                }
            }
        }
    }
}

.TopPartOfBar {
    position: fixed;
    z-index: 99999999;
    top: 0;
    left: 0;
    width: 55%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0 0;
}

.hide {
    opacity: 0;
    transition: opacity 0.5s ease-out;
}

.skip_button { 
    padding: 16px !important;
    font-family: 'San-Francisco', 'Roboto', sans-serif;
    border-radius: 8px;
    position: absolute !important;
    right: 24px !important;
    z-index: 999999999999999 !important;
    background: #fff !important;
    color: #000000 !important;
    font-size: 17px !important;
    line-height: 22px !important;
    letter-spacing: -0.41px;
    cursor: pointer;
    transition: opacity 0.3s ease-in-out;
    &:hover {
        background-color: rgba(255, 255, 255, 0.9) !important;
    }

    @media screen and (max-width: 900px) {
        padding: 8px 16px !important;
        font-size: 15px !important;
        line-height: 20px !important;
    }
}

.mainVideoPlayerControlbar {
    position: absolute !important;
    bottom: 0 !important;
    left: 0 !important;
}

svg:focus {
    outline: none !important;
}
.background {
    z-index: 999999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.control_bar {
    display: none !important;
}
.player_main_page {
    object-fit: cover;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    // top: -15%;
    @media screen and (max-width: 1100px) {
        display: none !important;
    }
}

.age_restriction {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    top: 42px;
    right: 32px;
    z-index: 9999999;
    position: fixed;
    background: rgba(255, 255, 255, 0.1);
    border: 3px solid rgba(238, 238, 238, 0.9);
    box-sizing: border-box;
    border-radius: 40px;
    padding: 3px 12px;
    align-items: center;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: rgba(238, 238, 238, 0.9);

    @media screen and (max-width: 480px) {
        width: 30px;
        border-radius: 10px;
        height: 30px;
        font-size: 12px;
        top: 38px;
        border: 1px solid rgba(238, 238, 238, 0.5);
    }
}
.IsIOSDevice {
    .video-react-slider {
        top: -40px !important;
    }
    .currentTime {
        top: 40px !important;
    }
}
.slick-slide div {
    outline: none;
    .slick-item {
        cursor: pointer;
    }
}
.tv_video_player {
    .video-react .video-react-play-progress:before {
        color: #5086ec;
        font-size: 25px;
        top: -10px;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
    }
    .video-react-slider {
        &:hover {
            .video-react-play-progress:before {
                opacity: 1;
            }
        }
    }
    .video-react-has-started {
        padding: 0 !important;
    }
    .video-react-video {
        object-fit: cover;
    }
}

.next_episode_button {
    border: 3px solid red;
    width: 250px !important;
    position: absolute !important;
    bottom: 140px !important;
    right: 24px !important;
    z-index: 999999999999999 !important;
    background: #fff !important;
    color: #000000 !important;
    font-size: 17px !important;
    line-height: 22px !important;
    display: flex !important;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    @media screen and (max-width: 900px) {
        padding: 8px 16px !important;
        font-size: 15px !important;
        line-height: 20px !important;
    }
}
