$main-color: #edae01;
$bg-color: #000000;
$bg-dark: #292929;
$bg-form: #00030399;
$info-bg-color-1: #b90043;
$info-bg-color-2: #0067f4;
$caption-color-1: #f2271c;
$caption-color-2: #119c2b;
$caption-color-3: #edae01;
$font-white: #ffffff;
$font-light: #f6f8f9;
$font-gray: #b0babf;